# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/cache/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Models (optional)
models/*.pkl
models/*.joblib
models/*.sav